<h1>User info</h1>
<table>
  <tr>
    <th><img src="noimage.jpeg"></th>
    <th></th>
  </tr>
  <tr>
    <th>name</th>
    <th></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th></th>
  </tr>
</table>

<h1>New post</h1>
title<br>
opinion<br>

<h1>Books</h1>
<p>画像、本のタイトル、紹介文
マイページにもなりうる
</p>

      <li>
        <%= link_to '投稿フォーム', books_path %>
      </li>
