<h1>Book#create New post</h1>
<table>
      <% @books.each do |book| %>
      <tr>
            <td><%=book.title %></td>
            <td><%=book.body %></td>
            <td></td>
      </tr>
      <% end %>
      
</table>